@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap');

/*
*CSS Reset
*/
* {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: 'Montserrat', sans-serif;

}

/*
*#FFFFFF - Branco (Background)
*#1B1E1D - Preto (Menus e fonte)
*#E0E0E0 - Cinza claro (Detalhes)
*#0757EB - Azul Claro (Destaque)
*#F4EBE0 - Bege (Flutuantes)
*/

header {

    color: #FFFFFF;
    background-color: #1B1E1D;
    padding: 1em;
    text-align: center;

}

header h1 {
    
    font-size: 2em;
    
}

nav {

    display: flex;
    flex-direction: row;
    background-color: #1B1E1D;
    color: #E0E0E0;
    text-align: center;

}

.links {

    border-style: solid;
    border-top-width: 0.1em;
    padding-top: 0.5em;

}

.links a {

    color: #E0E0E0;
    text-decoration: none;

}

.links a:hover {

    color: #C2C2C2;

}

footer {

    display: flex;
    align-items: center;
    background-color: #1B1E1D;
    position: relative;
    height: 3.5em;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    justify-content: space-between;

}